

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("image/medicine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-section
  {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;

  }
  .modal-content
  {
    background-color: #434e5a;
    opacity:.8;
    padding: 0 18px;
    border-radius:10px;
  }
  .user-img{
    margin-top: -25px;
    margin-bottom: 45px;
    margin-left: 50px;
  }
  .form-group
  {
    margin-bottom: 20px;
  }
  .form-group input{
height: 42px;
border-radius: 5px;
border:0;
font-size:18px;
letter-spacing: 2px;
padding-left:84px; 

  }
  